<div>
  <h2><%=@user.email%></h2>

  <ul>

    <% @user_stories.each do |story| %>
    <li>
      <a href="/users/<%= @user.id %>/stories/<%= story.id %>"><%= story.title %></a>
      <div>
        <% if @current_user == true %>
          <%= form_tag('/edit_story', method: "get") do %>
            <input type="submit" value="Edit">
            <input type="hidden" name="stories[id]" value="<%= story.id%>">
          <% end %>
          <%= form_tag('/delete_story', method: "post") do %>
            <input type="submit" value="Delete">
            <input type="hidden" name="stories[id]" value="<%= story.id %>">
            <input type="hidden" name="_method" value="delete">
          <% end %>
        <% end %>
      </div>
    </li>
    <% end %>
  </ul>
</div>
