<div>
  <h2><%=@user.email%></h2>

  <ul>

    <% @user_stories.each do |story| %>
    <li>
      <a href="/users/<%= @user.id %>/stories/<%= story.id %>"><%= story.title %></a>
      <div>
        <% if @current_user == true %>
        <form action="/edit_story">
          <input type="submit" value="Edit">
          <input type="hidden" name="stories[id]" value="<%= story.id%>">
        </form>
        <form action="/delete_story" method="post">
          <input type="submit" value="Delete">
          <input type="hidden" name="stories[id]" value="<%= story.id %>">
          <input type="hidden" name="_method" value="delete">
        </form>
        <%end%>
      </div>
    </li>
    <% end %>
  </ul>
</div>
